.HotAccessoriesMenu {
    display: flex;
    justify-content: center;
}

.HotAccessoriesLink {
    text-decoration: none;
    color: black;
    margin: 1vmax;
    padding: 0.5vmax 0;
    font-family: 'Segoe UI';
    font-size: 1.4vmax;
    transition: all .5s;
}

.HotAccessoriesLink:hover {
    text-decoration: none;
    color: orangered;
    border-bottom: 1px solid orangered;
}