.NavCard {
    width: 10vmax;
    text-align: center;
    cursor: pointer;
    margin: 2vmax 0;
}

.NavCard>img {
    width: 10vmax;
}

.NavCard>p {
    font-size: 1vmax;
    margin: 0;
}

.NavCard>span {
    font-size: .95vmax;
    color: orangered;
}