.starProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vmax auto;
}

.starProduct>div:first-child img {
    height: 35vmax;
    width: 35vmax;
}

.starProduct>div:last-child img {
    height: 17.5vmax;
}

.starProduct>div:last-child {
    display: flex;
    flex-wrap: wrap;
    width: 38vmax;
}

.starProduct img {
    border-radius: 3px;
    transition: all 0.5s;
}

.starProduct img:hover {
    transform: scale3d(1.05, 1.05, 1);
}